{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>MemorizeThem</title>
    <link rel="stylesheet" type="text/css" href="{%static 'css/foundation.css'%}">
</head>
<body>

<!-- Navigation -->
<div class="top-bar" id="realEstateMenu" style="padding: 0; margin: 0">
  <div class="top-bar-left" style="padding: 0; margin: 0">
    <ul class="menu" style="padding: 0; margin: 0">
        <a href="/" style="margin: 0; padding: 0"><li class="menu-text" type="button" style="background-color: #dfbb00; color: white; font-weight: bold;"><h4>MemorizeThem</h4></li></a>
    </ul>
  </div>
  <div class="top-bar-right">
    <ul class="menu">
      <li><a href="/contacts/" type="button" style="background-color: #cc1111; color: white; margin-right: 5px;">My Friends</a></li>
      <li>
            {% if user.username %}
                <a href="/auth/logout/" type="button" class="button" style="margin-right: 5px">Logout ({{ user.username }})</a>
            {% else %}
                <a href="/auth/login/" class="button" style="margin-right: 5px">Login</a>
            {% endif %}
      </li>
    </ul>
  </div>
</div>
<!-- /Navigation -->

<br>
<article class="grid-container">

    {% block title %}{% endblock %}

    {% block contact %}{% endblock %}

    {% block login %}{% endblock %}

    {% block registration %}{% endblock %}

</article>

</body>
</html>